.-container {
  display: flex;
  min-height: calc(100vh - 0px);
  width: 100%;

  app-sidebar {
    min-height: calc(100vh - 0px);
    width: 150px;
  }

  .-content {
    background-color: #F7F7F7;
    flex: 1;
    min-height: calc(100vh - 0px);
  }
}
